@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

/* Styles généraux */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.header {
    background-image: linear-gradient(to right, #007bff, #6610f2);
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Sidebar styles */
.sidebar {
    background-color: #343a40;
    color: #fff;
    padding: 20px;
    width: 250px;
}

.sidebar h2 {
    margin-top: 0;
    color: #ffc107; /* Jaune doré pour les titres */
}

.sidebar input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #007bff; /* Bordure bleue */
    border-radius: 5px;
    color: #333;
}

.genres li, .studios li {
    list-style: none;
    margin-bottom: 10px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.genres li:hover, .studios li:hover {
    color: #007bff; /* Bleu au survol */
}

/* Main content styles */
.main-content {
    flex: 1;
    padding: 20px;
}

.main-content h2 {
    margin-top: 0;
    color: #28a745; /* Vert */
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.grid movie {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.search-header {
    width: 100%;
    background-color: black;
    padding: 10px 0;
    box-sizing: border-box;
}

.search-header input[type="text"] {
    width: 90%;
    max-width: 600px;
    padding: 10px;
    margin: 0 auto;
    display: block;
    border: none;
    border-radius: 5px;
}

.sidebar {
    background-color: #f4f4f4;
    padding: 20px;
    float: left;
    width: 200px;
    box-sizing: border-box;
    height: 100vh;
}

.main-content {
    margin-left: 220px;
    padding: 20px;
}

.genres, .studios {
    list-style-type: none;
    padding: 0;
}

.genres li, .studios li {
    padding: 5px 0;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

movie {
    flex: 1 1 200px; /* Adjust the flex-basis value as needed */
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        margin-bottom: 20px;
    }

    .main-content {
        flex: 1;
    }
}
